<div class="footer section">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img
          src="../../../assets/logo-parahyba-inverted-vertical.png"
          alt="Parahyba Valley logo"
          class="footer-logo"
        />
        <p class="text text--inverted">Comunidade das empresas e projetos do Vale do Paraíba</p>
      </div>
      <div class="col-6">
        <p class="title title--small title--inverted title--large-space">Dados para contato</p>
        <p class="text text--inverted text--large-space">
          <a class="text text--inverted" href="mailto:contato@parahybavalley.org">
            parahybavalley@gmail.com
          </a>
        </p>
        <p class="text text--inverted">
          Este site é um projeto
          <a
            class="text text--inverted"
            href="https://github.com/parahyba-valley/parahyba-valley-web"
            target="_blank"
          >
            open source
          </a>
          e foi construído pela comunidade de desenvolvedores do Vale do Paraíba
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <hr class="footer-divider" />
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="text text--inverted">Colaboradores</p>
      </div>
    </div>
    <div class="row">
        <div class="col-12">
          <a href="https://github.com/sHilgert" target="_blank" title="Sérgio Hilgert" class="avatar-link">
            <img
            src="https://avatars3.githubusercontent.com/u/15948425?s=400&u=2528b521fbfbd5711ff0fb3519c0d7f4ef8e49ec&v=4"
            alt="Colaborador Sérgio Hilgert"
            class="collab-avatar"
            style="margin: 0 8px 0 0">
          </a>
          <a href="https://github.com/RafaelSNascimento" target="_blank" title="Rafael Nascimento" class="avatar-link">
            <img
            src="https://avatars3.githubusercontent.com/u/21286417?s=400&u=bafec965244e68f35307ae1ab53ccbac2d22bd63&v=4"
            alt="Colaborador Rafael Nascimento"
            class="collab-avatar"
            style="margin: 0 8px 0 0">
          </a>
          <a href="https://github.com/PauloLuan" target="_blank" title="Paulo Luan" class="avatar-link">
            <img
            src="https://avatars0.githubusercontent.com/u/1131963?s=400&u=691b79beda9f05aa9122e6ce6fd3d4fe4b768937&v=4"
            alt="Colaborador Paulo Luan"
            class="collab-avatar"
            style="margin: 0 8px 0 0">
          </a>
          <a href="https://github.com/willianzocolau" target="_blank" title="Willian Zocolau" class="avatar-link">
            <img
            src="https://avatars1.githubusercontent.com/u/14844453?s=400&u=eda0f026202ccac0d60f1df2cbfe7821d56cc7e5&v=4"
            alt="Colaborador William Zocolau"
            class="collab-avatar"
            style="margin: 0 8px 0 0">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
