<div class="footer section">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <img src="../../../assets/logo-parahyba-inverted-vertical.png" alt="Parahyba Valley logo" class="footer-logo"/>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="text text--inverted">Comunidade das empresas e projetos do Vale do Paraíba</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <p class="title title--small title--inverted">Dados para contato</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <p class="text text--inverted">
              <a class="text text--inverted" href="mailto:contato@parahybavalley.org">
                contato@parahybavalley.org
              </a>
            </p>
          </div>
        </div>
        <div class="row" style="margin-top: 16px">
          <div class="col-12">
            <p class="text text--inverted">
              Este site é um projeto <a class="text text--inverted" href="https://github.com/parahyba-valley/parahyba-valley-web" target="_blank">open source</a> e foi construído pela comunidade de
              desenvolvedores do Vale do Paraíba
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
