<div class="cities section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="title title--large title--center title--large-space">Cidades do Vale do Paraíba</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <ul>
          <li>
            <p class="text text--large">Angra dos Reis - RJ</p>
          </li>
          <li>
            <p class="text text--large">Aparecida - SP</p>
          </li>
          <li>
            <p class="text text--large">Barra Mansa - RJ</p>
          </li>
          <li>
            <p class="text text--large">Barra do Piraí - RJ</p>
          </li>
          <li>
            <p class="text text--large">Campos do Jordão - SP</p>
          </li>
          <li>
            <p class="text text--large">Caraguatatuba - SP</p>
          </li>
          <li>
            <p class="text text--large">Caçapava - SP</p>
          </li>
          <li>
            <p class="text text--large">Cruzeiro - SP</p>
          </li>
          <li>
            <p class="text text--large">Guaratinguetá - SP</p>
          </li>
          <li>
            <p class="text text--large">Jacareí - SP</p>
          </li>
        </ul>
      </div>
      <div class="col-6 col-12-sm">
        <ul>
          <li>
            <p class="text text--large">Lorena - SP</p>
          </li>
          <li>
            <p class="text text--large">Pindamonhangaba - SP</p>
          </li>
          <li>
            <p class="text text--large">Resende - RJ</p>
          </li>
          <li>
            <p class="text text--large">São José dos Campos - SP</p>
          </li>
          <li>
            <p class="text text--large">São Sebastião - SP</p>
          </li>
          <li>
            <p class="text text--large">Taubaté - SP</p>
          </li>
          <li>
            <p class="text text--large">Tremembé - SP</p>
          </li>
          <li>
            <p class="text text--large">Ubatuba - SP</p>
          </li>
          <li>
            <p class="text text--large">Valença - RJ</p>
          </li>
          <li>
            <p class="text text--large">Volta Redonda - RJ</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
