<div class="slider section">
  <div class="container">
    <div class="slider__slides row" ref="slides">
      <div class="loading-wrapper" pvIf="loading">
        <div class="loader"></div>
      </div>

      <div class="slider__slides__item" pvFor="startup in startups">
        <div class="col-6 col-12-sm">
          <img
            class="startup-logo"
            alt="Logo da empresa"
            pvIf="startup.data.profile_image"
            :src="startup.data.profile_image"
          >
          <img
            src="../../../assets/logo-parahyba-vertical.png"
            pvIf="!startup.data.profile_image"
            alt="Logo da empresa logo"
            class="startup-logo"
          >
        </div>
        <div class="col-6 col-12-sm">
          <div class="row">
            <div class="col-12 col-12-sm">
              <h3 class="title title--small">{{ startup.data.name }}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-12-sm">
              <p pvIf="startup.data.description" class="text slider-item__description">{{ startup.data.description }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-12-sm">
              <p pvIf="!startup.data.description" class="text slider-item__description">Sem descrição</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-12-sm">
              <p class="text">
                {{ startup.data.adresses[0].city.name }} -
                <span>
                  {{ startup.data.adresses[0].state.uf }}
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row slider__bottom-wrapper">
      <div class="col-1 col-1-sm">
        <div class="slider__control slider__control--left" pvClick="previous"></div>
      </div>

      <div class="col-10 col-10-sm">
        <div class="slider__control-indicators__wrapper">
          <div class="slider__control-indicators__itens" ref="indicators">
            <div
              class="slider__control-indicators__item"
              pvFor="startup in startups"
              pvClick="changeActiveSlide(index, 'teste')"
            >
            </div>
          </div>
        </div>
      </div>

      <div class="col-1 col-1-sm">
        <div class="slider__control slider__control--right" pvClick="next"></div>
      </div>
    </div>
  </div>
</div>
