@import 'scss/variables.scss';

.startup-logo{
  width: 100%;
  max-width: 200px;
  height: auto;

  @media (max-width: $screen-phone) {
    max-width: 150px;
  }
}

.slider {
  overflow: hidden;
  width: 100%;
}

.slider__control {
  border: solid $blue500;
  border-width: 0 3px 3px 0;
  cursor: pointer;
  display: inline-block;
  height: $size-m;
  padding: 3px;
  width: $size-m;
  z-index: 1;
}

.slider__bottom-wrapper {
  @media (max-width: $screen-phone) {
    padding-left: $space-m;
    padding-right: $space-m;
  }
}

.slider__control.slider__control--left {
  transform: rotate(135deg);
}

.slider__control.slider__control--right {
  transform: rotate(-45deg);
}

.slider__control--hidden {
  display: none;
}

.slider__slides {
  left: 0;
  height: 40vh;
  white-space: nowrap;
  transition: left 800ms ease;

  @media screen and (max-width: $screen-phone) {
    height: 50vh;
  }
}

.slider-item__description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.slider__slides__item {
  text-overflow: ellipsis;
  display: inline-block;
  white-space: normal;
  width: 100%;
}

.slider__control-indicators__wrapper {
  position: relative;
  width: 100px;
  height: $size-m;
  overflow: hidden;
  white-space: nowrap;
}

.slider__control-indicators__itens {
  position: absolute;
  line-height: $size-m;
  left: 0;
  top: 0;
  transition: left 200ms ease-in-out;
}

.slider__control-indicators__item {
  border-radius: 50%;
  cursor: pointer;
  background-color: $blue000;
  width: calc(#{$size-m} - #{$size-xs});
  height: calc(#{$size-m} - #{$size-xs});
  margin: 0 $size-xs;
  display: inline-block;
  transition: all 100ms ease-in-out;
  border: 1px solid #eaeaea;
}


.slider__control-indicators__item--last {
  width: $size-s;
  height: $size-s;
}

.slider__control-indicators__item--active {
  width: $size-m;
  height: $size-m;
  background-color: $blue500;
}

.slider__loading {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.slider__loading-img {
  width: 20%;
  height: auto;
  animation: loading 700ms infinite ease-in-out;
}

@keyframes loading {
  0%   { transform: scale(1)  rotate(0deg) }
  25%  { transform: scale(1.5) rotate(90deg) }
  50%  { transform: scale(1) rotate(180deg) }
  75%  { transform: scale(.5) rotate(270deg) }
  100% { transform: scale(1) rotate(360deg) }
}
