<div class="slider">
  <div class="slider__control slider__control--left" pvClick="previous"></div>

  <div class="slider__control slider__control--right" pvClick="next"></div>

  <div class="slider__slides" ref="slides">
    <div class="slider__slides__item" pvFor="slide in slides">
      <span pvIf="slide.data" >{{ slide.data.name }}</span>
      <span pvIf="slide.data.teste" >don't show me</span>
    </div>
  </div>

  <div class="slider__control-indicators">
    <div class="slider__control-indicators__wrapper">
      <div class="slider__control-indicators__itens" ref="indicators">
        <div
          class="slider__control-indicators__item"
          pvClick="changeActiveSlide(index, 'teste')"
          pvFor="slide in slides"
        >
        </div>
      </div>
    </div>
  </div>
</div>
