<div class="copyright section section--short">
  <div class="container">
    <div class="row">
      <div class="col-10 col-12-sm">
        <p class="text text--small text--light copyright-text">
          Copyright Parahyba Valley © 2021. Todos Direitos Reservados
        </p>
      </div>
      <div class="col-2 col-12-sm">
        <a href="https://github.com/parahyba-valley/parahyba-valley-web" target="_blank" title="Github" class="avatar-link">
          <img
          src="../../../assets/git-logo.png"
          alt="Github logo"
          style="height: 32px;">
        </a>
      </div>
    </div>
  </div>
</div>
