@import 'scss/variables.scss';

html,
body {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  font-size: 100%;
}

* {
  font-family: $font-family;
  color: $cyan800;
  line-height: $font-height;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

html, body, div, span, applet, object, iframe,
input, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

// grid

$col-width: (100% / 12);
$gutter: 4%;
$breakpointall: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px

.container {
  width: 100%;
  padding-left: $space-s;
  padding-right: $space-s;
}

.row {
  width: 100%;
  margin-left: -$space-s;
  margin-right: -$space-s;
  float: left;
}

.row [class^="col"] {
  float: left;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: $space-s;
}


.col-1 { width: ($col-width * 1) }
.col-2 { width: ($col-width * 2) }
.col-3 { width: ($col-width * 3) }
.col-4 { width: ($col-width * 4) }
.col-5 { width: ($col-width * 5) }
.col-6 { width: ($col-width * 6) }
.col-7 { width: ($col-width * 7) }
.col-8 { width: ($col-width * 8) }
.col-9 { width: ($col-width * 9) }
.col-10 { width: ($col-width * 10) }
.col-11 { width: ($col-width * 11) }
.col-12 { width: ($col-width * 12) }


.section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: $space-l;
  padding-bottom: $space-l;

  &:first-child {
    padding-top: 0;
    padding-bottom: 0;
  }
  &:last-child {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.section__container {
  padding-left: $space-m;
  padding-right: $space-m;
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.section--blue {
  background: $blue000;
}
