<div class="slider">
  <div class="slider__control slider__control--left" data-click="previous"></div>

  <div class="slider__control slider__control--right" data-click="next"></div>

  <div class="slider__slides" ref="slides">
    <div class="slider__slides__item" data-repeat-prop="slider" data-repeat="slides">
      {{ data.name }}
    </div>
  </div>

  <div class="slider__control-indicators">
    <div class="slider__control-indicators__wrapper">
      <div class="slider__control-indicators__itens" ref="indicators">
        <div
          class="slider__control-indicators__item"
          data-click="changeActiveSlide"
          data-repeat-prop="slider"
          data-repeat="slides"
          data-index="{{ index }}"
        />
      </div>
    </div>
  </div>
</div>
