@import 'scss/variables.scss';

.slider {
  height: calc(100% - 78px);
  overflow: hidden;
  position: relative;
  width: 100%;

  @media (max-width: $screen-phone) {
    height: calc(100% - 67px);
  }
}

.slider__control {
  border: solid black;
  border-width: 0 3px 3px 0;
  cursor: pointer;
  display: inline-block;
  height: $size-m;
  padding: 3px;
  width: $size-m;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 1;
}

.slider__control.slider__control--left {
  left: $space-l;
  transform: rotate(135deg);
}

.slider__control.slider__control--right {
  right: $space-l;
  transform: rotate(-45deg);
}

.slider__control--hidden {
  display: none;
}

.slider__slide {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 100%;
  transition: left 1s ease;
}

.slider__control-indicators {
  position: absolute;
  bottom: $space-m;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider__control-indicators__item {
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  width: $size-m;
  height: $size-m;
  margin: 0 $size-s;
  display: inline-block;
}

.slider__control-indicators__item--active {
  width: $size-st;
  height: $size-st;
}
