@import 'scss/variables.scss';

.slider {
  width: 100%;
  height: 100%;
  background-color: red;
  position: relative;
}

.slider__control {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  height: $size-m;
  padding: 3px;
  width: $size-m;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;

}

.slider__control.slider__control--left {
  left: $space-l;
  transform: rotate(135deg);
}

.slider__control.slider__control--right {
  right: $space-l;
  transform: rotate(-45deg);
}
